#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "fiduswriter"
name = "Fidus Writer"
description.en = "an online collaborative editor for academics"
description.fr = "un éditeur collaboratif en ligne pour les universitaires"

version = "4.0.17~ynh1"

maintainers = ["DeMiro5001"]

[upstream]
license = "GPL-3.0-only"
website = "https://fiduswriter.org/"
demo = "https://www.fiduswriter.com"
admindoc = "https://github.com/fiduswriter/fiduswriter/tree/develop/docs/installation"
userdoc = "https://github.com/fiduswriter/fiduswriter/blob/develop/docs/README.md"
code = "https://github.com/fiduswriter/fiduswriter"

fund = "https://www.fiduswriter.org/donate/"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true

sso = false

# FIXME: replace with an **estimate** minimum disk and RAM requirements. e.g. 20M, 400M, 1G...
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/fiduswriter"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Use the help field to add an information for the admin about this question."
    help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    type = "password"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/fiduswriter/fiduswriter/archive/refs/tags/v4.0.17.tar.gz"
    sha256 = "22232a59c7213caea3151d33f6e0b93628488a3942b344106c8adadf075fcffd"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    admin.url = "/admin"
    admin.allowed = "admins"
    admin.show_tile = false

    [resources.ports]

    [resources.apt]
    packages = "postgresql, postgresql-contrib, python3-pip, python3-venv, python3-dev, redis-server, libjpeg-dev, zlib1g-dev, gettext, libpq-dev"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "24"
